body {
    background: #92b7c2;
    margin: 0;
    overflow-x: hidden;

}
h3, h4 {
    font-family: 'BenchNine', sans-serif;
    text-align: center;
    color: white;
    font-size: 150%;
}
h3 {
    letter-spacing: 2px;
    display: block;
}
p {
    font-family: 'Montserrat', sans-serif;

}
.mainwrapper {
    position: relative;
    overflow: hidden;
    z-index: -1;
    width: 100%;
    height: 100%; 
}
.mainlogo {
    position: absolute;
    left: -100%;
    max-width: 90%;
    height: auto;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: .5s;
    padding-left: 20px;

}
@-webkit-keyframes slide {
  100% { left: 0; }
}

@keyframes slide {
  100% { left: 0; }
}
.mainlogoname {
  max-width: 60%;
  height: auto;
  position: absolute;
  left: calc(15vw + 9%);
  top: 30px;
  left: 18%;
  float: left;
  z-index: -1;
}
a img {
  max-width: 100%;
}

/****** NAV LINK STYLE *******/
header {
    position: sticky;
    width: 100%;
    height: 85px;
    top: 0;
    background: #92b7c2;
    padding-top: 5px;
    /* padding-bottom: 5px; */
    
}

.headerlogo {
  float: left;
  padding-left: 10px;
}
header nav {
    float: right;
    font-family: 'BenchNine', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    font-size: 150%;
}
header nav ul {
  list-style-type: none;
  display: flex;
}
header nav ul li {
  margin: 0 25px;
}

a {
    color: #000;
    text-decoration: none;
}
a:hover {
    border-bottom: solid red 2px;
}

/****** GEAR PAGE STYLE *******/
.gearblurb {
  padding-top: 20px;
  text-align: center;

  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
.gearlist {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  background: #abcbd4;
}
/****** RESUME PAGE STYLE *******/
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding-bottom: 50px;
}
.jobcard {
    display: flex;
    flex-direction: column;
    background:  #abcbd4;
    margin: 3px;
    width: 150px;
    justify-content: flex-start;
    align-items: center;
}
.showlogowrapper {
    height: auto;
    align-self: flex-start;
    justify-content: center;
    align-items: center;
}
.shownamewrapper{
    height: auto;
    align-items: center;
}
.clientlogo {
    width: 90%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: scale-down;

}
.clientshow {
    font-size: 80%;
    text-align: center;
    padding: 5px;;

}
/****** ABOUT PAGE STYLE *******/
.bio {
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;

}
.aboutquotes, .gearlist {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  background: #abcbd4;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
  list-style-type: none;
}
.dogs {
  display: block;
  padding: 10px 0px;
  margin: 0 auto;
}
.names {
  text-align: start;
}
/****** MEDIA PAGE STYLE *******/
iframe {
  display: block;
  padding: 10px 0px;
  margin: 0 auto;

}
/****** FOOTER GLOBAL STYLE *******/
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 80%;
    text-align: center;
    height: 30px;
    padding-top: 15px;
    background: #6d9dac;
    font-family: 'Montserrat', sans-serif;
}
footer a {
  color: white;
  padding: 10px
}
/****** MOBILE NAV STYLE *******/
.menumobileicon {
  padding: 4px;
  height: 40px;
  width: 40px;
  align-content: center;
  float: right;
  display: none;
}
.container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: rgb(247, 17, 17);
  margin: 6px 0;
  transition: 0.4s;
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-8px, 8px);
  transform: rotate(-45deg) translate(-8px, 8px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
@media (max-width: 767px) {
  header {
    padding-top: 10px;
  }
  .menumobileicon {
    display: block;
    padding-right: 20px;
    cursor: pointer;
  }
  header nav{
    position: absolute;
    width: 90%;
    height: calc(100vh - 50px);
    background: rgb(201, 238, 247);
    text-align: center;
    top: 50px;
    left: 0;
    transition: 0.5s;
  }
  header nav.active {
    position: absolute;
    width: 100%;
    height: calc(100vh - 50px);
    background: rgb(201, 238, 247);
    text-align: center;
    top: 50px;
    left: -110%;
    transition: 0.5s;

  }
  header nav ul {
    display: flex;
    flex-direction: column;

  }
  header nav ul li {
    padding-top: 5px;
    padding-bottom: 5px;

  }
  header nav ul li a {
    border-bottom: solid rgba(0,0,0,.2);

  }
 .gearlist, .gearblurb, .bio, .dogs {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .aboutquotes {  
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    background: #abcbd4;
  }
  body p {
    font-size: 80%;
  }
  footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    height: 30px;
    padding-top: 15px;
    background: #6d9dac;
    font-family: 'Montserrat', sans-serif;;
  }
  iframe {
    width: 90%;
  }
  .dogs {
    margin-bottom: 40px;
  }
  h3 {
    padding-top: 1px;
  }
  .mainlogoname {
    max-width: 60%;
    height: auto;
    position: absolute;
    left: calc(15vh + 7%);
    top: 10%;
    left: 25%;
    z-index: -1;
  }
}